Write a program to iterate the first 10 numbers, and in each iteration,
 print the sum of the current and previous number.

In [6]:
prev_number = 0
sum = 0
for i in range(0,11):
    sum = sum + i
    print("Previous number : ", prev_number , " Current number : ", i , " Sum : ", sum)
    prev_number = i

Previous number :  0  Current number :  0  Sum :  0
Previous number :  0  Current number :  1  Sum :  1
Previous number :  1  Current number :  2  Sum :  3
Previous number :  2  Current number :  3  Sum :  6
Previous number :  3  Current number :  4  Sum :  10
Previous number :  4  Current number :  5  Sum :  15
Previous number :  5  Current number :  6  Sum :  21
Previous number :  6  Current number :  7  Sum :  28
Previous number :  7  Current number :  8  Sum :  36
Previous number :  8  Current number :  9  Sum :  45
Previous number :  9  Current number :  10  Sum :  55

Write a program to accept a string from the user and display characters that are present at an even index number.

In [16]:
string = list(input())
print(string[::2])

['c', 's', 'y']

Write a program to remove characters from a string starting from zero up to n and return a new string.

In [17]:
string = list(input())
n = int(input())
print(string[n::])

['t', 'h', 'o', 'n']

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [18]:
x = input()
number = x.split(",")
numbers = [int(nums.strip()) for nums in number]
if numbers[0] == numbers[-1]:
    print("True")
else:
    print("False")

True

Iterate the given list of numbers and print only those numbers which are divisible by 5

In [20]:
x = input()
number = x.split(",")
numbers = [int(num.strip()) for num in number]
for num in numbers:
    if num%5 == 0:
        print(num, end = " ")

10 20 10 25 50

Write a program to find how many times substring “Emma” appears in the given string.

In [21]:
string = input()
word_search = input()
words = string.split(" ")
count = 0
word = [elements.strip() for elements in words]
for element in word:
    if element == word_search:
        count += 1
print(word_search, "appeared" , count, "times")

Emma appeared  3 times

Pattern Problems

1 <br>
2 2<br>
3 3 3 <br>
4 4 4 4<br>
5 5 5 5 5<br>

In [28]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(i , end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1 1 1 1 1<br>
2 2 2 2 <br>
3 3 3 <br>
4 4 <br>
5<br>

In [13]:
n = 5
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(i, end = " ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

5 5 5 5 5 <br>
5 5 5 5 <br>
5 5 5 <br>
5 5 <br>
5<br>

In [16]:
n = 5
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print("5" , end =" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

0 1 2 3 4 5 <br>
0 1 2 3 4 <br>
0 1 2 3 <br>
0 1 2 <br>
0 1<br>

In [18]:
n = 5
for i in range(n+1,0,-1):
    for j in range(i):
        print(j, end = " ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

1 <br>
3 3 <br>
5 5 5 <br>
7 7 7 7 <br>
9 9 9 9 9<br>

In [25]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print((i*2)-1, end = " ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

5 5 5 5 5 <br>
4 4 4 4 <br>
3 3 3 <br>
2 2 <br>
1<br>

In [29]:
n = 5 
for i in range(n,0,-1):
    for j in range(i):
        print(i, end =" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

1 <br>
2 1 <br>
3 2 1 <br>
4 3 2 1 <br>
5 4 3 2 1<br>

In [33]:
n = 5
for i in range(0,n,1):
    for j in range(i+1,0,-1):
        print(j, end = " ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

5 4 3 2 1 <br>
4 3 2 1 <br>
3 2 1 <br>
2 1 <br>
1<br>

In [39]:
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

1<br>
3 2<br>
6 5 4<br>
10 9 8 7<br>

In [74]:
n=5
k=1
for i in range(1,n):
    start = k+i-1
    end = k-1
    k+=i
    for j in range(start,end,-1):
        print(j,end=" ")
    print()

1
3 2
6 5 4
10 9 8 7

            1 
          1 2 
        1 2 3 
      1 2 3 4
    1 2 3 4 5

In [90]:
n = 5
for i in range(n+1):
    for j in range(n,i,-1):
        print(" ", end = " ")
    for k in range(1,i+1):
        print(k, end = " ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

1 <br>
1 1 <br>
1 2 1 <br>
1 3 3 1 <br>
1 4 6 4 1 <br>
1 5 10 10 5 1 <br> 
1 6 15 20 15 6 1<br>

**String Problems**

Write a program to create a new string made of an input string’s first, middle, and last character.

In [5]:
string = input()
size = len(string)
if size%2 != 0:
    print(string[0],string[size // 2],string[-1])
else:
    print(string[0],string[size // 2],string[-1])

j m s

Write a program to create a new string made of the middle three characters of an input string

In [9]:
string =input()
size = len(string)
if size%2 !=0:
    print(string[(size // 2)-1], string[(size // 2)], string[(size // 2)+1])
else:
    print(string[(size // 2)-1], string[(size // 2)], string[(size // 2)+1])

S o n

Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

In [17]:
s1 = input()
s2 = input()
size = len(s1)//2
s3 = s1[:size] + s2 +s1[size:]
print(s3)

AuKellythy

Write a program to arrange the characters of a string so that all lowercase letters should come first.

In [37]:
string = "SHelly"
size = len(string)
s1 = []
s2 = []
for i in range(0,size):
    if string[i].isupper():
        s1.append(string[i])
    else:
        s2.append(string[i])
s3 = "".join(s2+s1)
print(s3)

ellySH

Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

In [38]:
s1 = "America"
s2 = "Sheldon"
s3 = s1[0]+s2[0]+s1[len(s1) // 2]+s2[len(s2) // 2]+s1[-1]+s2[-1]

print(s3)

ASrlan

Count all letters, digits, and special symbols from a given string

In [39]:
string = "P@#yn26at^&i5ve"
digit_count,alpha_count,symbol_count = 0,0,0
for i in range(0,len(string)):
    if string[i].isalpha():
        alpha_count += 1
    elif string[i].isdigit():
        digit_count +=1
    else:
        symbol_count += 1
print("Alphabet = ", alpha_count)
print("Digit = ", digit_count)
print("Symbol = ", symbol_count)

Alphabet =  8
Digit =  3
Symbol =  4

Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on.

In [44]:
s1 = "Abc"
s2 = "Xyz"
i = list(s2)
j = list(s1)
i.reverse()
for k in range(0,len(j)):
    s3 = j[k]+i[k]
    print(s3,end="")

AzbycX

Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

In [51]:
s1 = "Yn"
s2 = "PYnative"
s1=set()
s2=set()
s3 = s1.issubset(s2)
print(s3)

True

Write a program to find all occurrences of “USA” in a given string ignoring the case.

In [61]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str2 = str1.split(" ")
str3 = "USA"
count = 0
words = [word.strip('.,!?') for word in str2]
for elements in words:
    if str3 == elements.upper():
        count += 1
print(count)

USA
usa
2

Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

In [68]:
str1 = "P@#yn26at^&i5ve"
sum,count = 0,0
for i in range(len(str1)):
    if str1[i].isdigit():
        count +=1
        sum += int(str1[i])
    average = (sum)/count if count >0 else 0 
print("Sum: ",sum, " Average: ",average)

Sum:  13  Average:  4.333333333333333

 Write a program to count occurrences of all characters within a string

In [1]:
str1 = "Apple"
count = 0
dic = {}
for i in str1:
    count = str1.count(i)
    dic[i] = count
print(dic)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

Reverse a given string

In [4]:
string = "PYnative"
print(string[::-1])

evitanYP

Write a program to find the last position of a substring “Emma” in a given string.

In [12]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print(str1.rfind("Emma"))

43

Write a program to split a given string on hyphens and display each substring.

In [14]:
str1 = "Emma-is-a-data-scientist"
x = str1.split("-")
for i in x:
    print(i)

Emma
is
a
data
scientist

Remove empty strings from a list of strings

In [15]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
str_list1 = []
for i in str_list:
    if "" != i:
        str_list1.append(i)
print(str_list1)

['Emma', 'Jon', 'Kelly', None, 'Eric']

Remove special symbols / punctuation from a string

In [17]:
import string
str1 = "/*Jon is @developer & musician"
str2 = str1.translate(str.maketrans("","",string.punctuation))
print(str2)

Jon is developer  musician

Removal all characters from a string except integers

In [19]:
str1 = 'I am 25 years and 10 months old'
for i in range(0,len(str1)):
    if str1[i].isdigit():
        print(str1[i],end="")

2510

Write a program to find words with both alphabets and numbers from an input string.

In [37]:
str1 = "Emma25 is Data scientist50 and AI Expert"
str3 = str1.split()
str2 = []
for char in str3:
    if any(item.isalpha() for item in char) and any(item.isdigit() for item in char):
        str2.append(char)
print(str2)

['Emma25', 'scientist50']

 Replace each special symbol with # in the following string

In [48]:
import string
str1 = '/*Jon is @developer & musician!!'
for i in string.punctuation:
    str1 = str1.replace(i,"#")
print(str1)

##Jon is #developer # musician##

Write a program to display all prime numbers within a range

In [63]:
n = 10
m = 20
p = 2
for i in range(n,m):
    for j in range(p,i):
        if i%j == 0:
            break
        else:
            print(i, end = " ")
            break

11 13 15 17 19

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [5]:
n = 10
r,m = 1,0
print(m,r,end=" ")
for i in range(1,n):
    sum = m+r
    m=r
    r=sum
    print(sum, end =" ")

0 1 1 2 3 5 8 13 21 34 55

Find the factorial of a given number

In [11]:
n = 5
p = 1
for i in range(1,n+1):
    p = p*i
print(p)

120

Reverse a given integer number

In [17]:
n,reverse = 76542,0
while n>0:
    rem = n%10
    reverse = reverse*10 + rem
    n = n//10
print(reverse)

24567

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [1]:
n=5
sum,seq = 2,0
for i in range(0,n):
    seq += sum
    sum = (sum*10)+2 
print(seq)

24690

DataStructures

Create a list by picking an odd-index items from the first list and even index items from the second

In [9]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
odd_list,even_list, l3 = [],[],[]
for i in range(0,len(l1)):
    if i%2 != 0:
        odd_list.append(l1[i])
for i in range(0,len(l2)):
    if i%2 == 0:
        even_list.append(l2[i])
l3 = odd_list +even_list
print(l3)

[6, 12, 18, 4, 12, 20, 28]

Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

In [17]:
list1 = [54, 44, 27, 79, 91, 41]
element = list1.pop(4)
print("List Removed at index 4 ", element)
list1.insert(3, element)
print("List Added to 2nd position ", list1)
list1.append(element)
print("List added to last position ",list1 )

List Removed at index 4  91
List Added to 2nd position  [54, 44, 27, 91, 79, 41]
List added to last position  [54, 44, 27, 91, 79, 41, 91]

y

y

y